<app-hero-section></app-hero-section>
<div id="formation">
    <h2>Formé par les piliers</h2>
    <div>
        <div id="IMTDiv">
            <div id="IMTText">
                <h3>Institut Mines-Télécom</h3>
                <ul>
                    <li>Premier groupe d'école d'ingénieur en France.</li>
                    <li>Une école d'ingénieur directement sous la tutelle du ministère de l'Education.</li>
                    <li>Des programmes directement orienté pour cibler les tendances et les besoins actuels.</li>
                </ul>
            </div>
            <div id="IMT">
                <img src="../../assets/images/IMT_logo.png"/>
            </div>
        </div>
        <div id="#IBMDiv">
            <div id="IBMText">
                <h3>IBM</h3>
                <ul>
                    <li>Précurseur de l'informatique.</li>
                    <li>Groupe international de renom.</li>
                    <li>Une formation et un professionalisme à la hauteur de sa renommée</li>
                </ul>
            </div>
            <div id="IBM">
                <img src="../../assets/images/ibm-logo-white.png"/>
            </div>
        </div>
    </div>
</div>
<div id="secondDiv">
    <h2>📈 CES REDOUTABLES TECHNIQUES SECRÈTES FERONT DÉCOLLER VOTRE NOMBRE DE CLIENTS 📈</h2>
    <p>
        Vous vous demandez sûrement comment tous ces soi-disant coachs sportifs amateurs et sans diplômes font pour séduire la clientèle et 
        conquérir des parts de marchés. Votre impuissance face à cette situation vous frustre et vous ne savez que faire face à cette injustice.
    </p>
    <p>
        Mais alors comment diable font-il ?
    </p>
    <p>
        Ces pseudo-coachs connaissent et appliquent certains des principes puissants qui permettent de faire exploser votre taux de conversion
        et d'accumuler des clients fidèles et que je vous propose au travers d'un de mes accompagnements personnalisés.
    </p>
    <p>
        Il ne s'agit :
    </p>
    <ul>
        <li>ni de référencement naturel ;</li>
        <li>ni de dépenses astronomiques dans des publicités en ligne ;</li>
        <li>ni de techniques farfelues de manipulation.</li>
    </ul>
    <p>
        Grâce à cette méthode qui a fait ses preuves depuis des années développez vous une clientèle solide et toujours plus grandissante.
    </p>
    <p>
        Découvrez sans plus attendre comment débloquer votre compteur de clients et souscrivez mon programme qui fera de vous le héro de votre vie et vous permettra d'échapper à votre condition.
        N'attendez plus !
    </p>
    <a href="#">DECOUVRIR NOTRE OFFRE</a>
    
</div>