<div class="main">
    <div>
        <div>
            <div><h2>Hello <span class="yellow">&#60;YourName&#62;</span>, moi c'est Jawad</h2><span class="writeBar">|</span></div>
           <p>
            Touche à tout, je me diversifie tout en me focalisant sur ma compétence première : l'informatique.
            </p>
            <p>
               Rien n'est impossible et j'aime croire que cette phrase me permet de dépasser mes limites sans cesse. 
            </p>
        </div>
    </div>
    <div
        appBackground="/portfolio/assets/images/me_2.jpg">
    </div>
</div>